<header>
    <nav class="navbar">
        <div class="lo">
            <a href="/">
                <h2 class="typing-header">Smart Task Manager</h2>
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>

            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
    </nav>
</header>