body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.task-input-section {
  max-width: 55%;
  margin: 30px auto;
  background-color:(135deg, #e0eafc, #cfdef3);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  width: 13%;
  text-align: left;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 0px;
}

input[type="text"],
input[type="date"],
textarea {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}

textarea {
  resize: vertical;
  min-height: 90px;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: #4d7d58; /* Green color */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

button:hover {
  background-color: #04fa3a;
}
